body {
    background-color: red;
}

.container {
    padding-top: 100px;
    padding-bottom: 20px;
}

#pokedex {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
}

.card:hover {
    animation: bounce 0.5s linear;
}

.card-image {
    height: 180px;
}

@media screen and (max-width: 768px) {
    #pokedex {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-gap: 20px;
    }

}
