body {
    background-color: #DD3444;
    font-family: 'Alata', sans-serif;
}

.container {
    padding-top: 100px;
    padding-bottom: 20px;
}

#pokeInfo {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.pokemon-img {
    height: 24vh;
}

.pokemon-type, .pokemon-ability, .pokeName, .card-header{
    text-transform: capitalize;
}

.modal__footer{
    padding-bottom: 20px;
}

.card-header{
    font-size: 19px;
}

@media screen and (max-width: 768px) {
    #pokeInfo {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 20px;
    }

    .card-header {
        padding: .75rem 0.25rem;
        font-size: 16px;
    }

    .pokemon-img {
        height: 20vh;
    }

}
